{
  "extends": ["airbnb"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-alert": "off",
    "linebreak-style": "off",
    "no-console": "off",
    "jsx-a11y/media-has-caption": "off",
    "no-trailing-spaces": "warn",
    "no-unused-vars": "off",
    "react/jsx-no-constructed-context-values": "off"
  }
}
