.room {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.room__greeting {
    margin-top: 0;
    text-align: center;
}

.room__connected-text {
    margin-top: 0;
}

.room__connected-list {
    font-size: 1.3rem;
    list-style-image: url("online-icon.svg");
    display: flex;
    column-gap: 50px;
    flex-wrap: wrap;
    width: 340px;
}

.room__connected-li {

}

@media (max-width: 600px) {
    .room {
        flex-direction: column;
    }
}
