body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1900px) {
  html {
    transform: scale(1.5);
    overflow: hidden;
  }
}

@media (orientation: portrait) {
  #root {
    margin-top: 15px;
    height: auto;
  }
}